.content {
  display: flex;
  align-items: center;
  border: 2px solid;
  padding: 10px 30px;
  justify-content: space-between;
}

.content-text h1 {
  text-transform: uppercase;
}

.content-text span {
  color: var(--turquoise)
}