.content {
  display: flex;
  align-items: center;
  padding: 10px 60px;
  justify-content: space-between;
}

.content-text h1 {
  text-transform: uppercase;
}

.content-text p {
  color: var(--turquoise);
  font-size: 6rem;
}

